---
import { Image } from "astro:assets";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { Icon } from "astro-icon/components";

const { posts } = Astro.props;
---

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
  {
    posts.map((post: any, index: number) => (
      <div
        class={`bg-white shadow-sm rounded-lg overflow-hidden ${index === 2 ? "hidden lg:block" : ""}`}
      >
        {post.data.image && (
          <a
            href={`/${post.slug}/`}
            class="block hover:text-primary overflow-hidden aspect-w-16 aspect-h-9"
          >
            <Image
              class="w-full h-full object-cover transition duration-300 hover:scale-105"
              src={post.data.image}
              alt={post.data.title}
              width={640}
              height={360}
              transition:name={`image-${post.slug}`}
            />
          </a>
        )}
        <div class="p-4">
          <h3
            class="text-lg font-semibold mb-2"
            transition:name={`title-${post.slug}`}
          >
            <a
              href={`/${post.slug}/`}
              class="hover:text-primary transition duration-300"
            >
              {post.data.title}
            </a>
          </h3>
          <ul class="text-sm text-gray-600 space-y-1">
            <li class="flex items-center">
              <Icon
                name="mdi:calendar-edit"
                class="mr-1 h-4 w-4 flex-shrink-0"
              />
              <span>{dateFormat(post.data.date)}</span>
            </li>
            <li class="flex items-center">
              <Icon name="mdi:folder" class="mr-1 h-4 w-4 flex-shrink-0" />
              {post.data.categories.map((category: string, i: number) => (
                <a
                  href={`/categories/${slugify(category)}/`}
                  class="hover:text-primary"
                >
                  {humanize(category)}
                  {i !== post.data.categories.length - 1 && ", "}
                </a>
              ))}
            </li>
            {post.data.tags && (
              <li class="flex items-center flex-wrap">
                <Icon name="mdi:pound" class="mr-1 h-4 w-4 flex-shrink-0" />
                {post.data.tags.map((tag: string, i: number) => (
                  <a
                    href={`/tags/${slugify(tag)}/`}
                    class="mr-2 hover:text-primary"
                  >
                    {humanize(tag)}
                  </a>
                ))}
              </li>
            )}
          </ul>
        </div>
      </div>
    ))
  }
</div>
